.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: rgb(22, 21, 21);
}
.wordContain{
    position: relative;
    margin: 50px;
    width: 230px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid rgb(53, 231, 231);
}
/* 跨越时空的回信 */
#contain1{
    position: absolute;
    width: 230px;
    height: 2px;
    top: 0;
    left: 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(92,223,224,1) 100%);
}
#contain2{
    position: absolute;
    width: 230px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(92,223,224,1) 100%);
}
.wordContain::before{
    content: '';
    width: 2px;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255,255,255);
}
.wordContain::after{
    content: '';
    width: 2px;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgb(255,255,255);
}
.wordContain h1{
    transform: translateX(-23px);
    color: rgb(199, 149, 49);
}

.Container{
    display: flex;
    width: 1200px;
    height: 550px;
}
/* 左边播放器 */
.leftVideo{
    width: 900px;
    height: 550px;
}
#video2{
    display: none;
}
#video3{
    display: none;
}
.leftVideo video{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: fill;
    outline: none;
}

/* 右侧图片 */
.rightVideo{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 280px;
    height: 550px;
}
.rightVideo span{
    display: block;
    padding-bottom: 10px;
    color: white;
    font-size: 18px;
    border-bottom: 1px solid rgb(103, 103, 103);
}
.rightVideo section{
    width: 100%;
    height: 80px;
    margin-top: 15px;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}
.rightVideo section:hover{
    color: rgb(99, 188, 239);
}
.rightVideo section img{
    position: relative;
    width: 120px;
    height: 80px;
    background-size: contain;
    margin-right: 15px;
}
.rightVideo p{
    color: white;
    font-size: 13px;
    margin-top: 10px;
}
/* 卡片 */
.cardBox{
    position: relative;
    display: flex;
    width: 1100px;
    height: 300px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px auto 60px;
    border-bottom: 1px solid rgb(0,0,0,.2);
    background-color: rgb(46, 66, 66);
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cardBox .card{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 200px;
    height: 150px; 
    margin: 0 50px;
    background-color: #fff;
    transition: all .5s;
}
.cardBox .card:hover{
    width: 240px;
}
.cardBox .card img{
    position: relative;
    margin-top: -20px;
    width: 150px;
    height: 150px;
    border-radius: 4px;
    background-color: #44514d;
    cursor: pointer;
    transition: all .5s .5s;
}
.cardBox .card:hover img{
    margin-top: -40px;
}
.cardBox .cardWord{
    position: absolute;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #111;
    opacity: 0;
    visibility: hidden;
    transition: all .5s .5s;
}
.cardBox .card:hover .cardWord{
    opacity: 1;
    visibility: visible;
    margin-top: 115px;
    cursor: pointer;
}


/* 返回按钮 */
.backBtn{
    position: absolute;
    right: -125px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.backBtn div{
    font-size: 35px;
    font-weight: 700;
    color: white;
}
.backBtn:hover{
    width: 50px;
    height: 50px;
    background-color: rgb(78, 210, 151);
    border-radius: 5px;
}